.header {
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
    transition: all .5s;

    &.sticky {
        padding: 0;
        background: #fff;
        box-shadow: 0px 3px 6px rgba(#000, 0.15);
        .main-navbar {
            .navbar-brand {
                background-position: 0 -45px;

                @include maxExScreen {
                    background-position: 0 calc(-100% + 4px);
                }
            }

            .nav-link {
                color: #000 !important;

                &::before {
                    background: $mainColor;
                }
            }
        }

        .menu-icon {
            span {
                background: #000;

            }
        }
    }

    .main-navbar {
        .navbar-brand {
            width: 225px;
            height: 34px;
            background-position: 0 -5px;
            background-size: cover;

            @include maxExScreen {
                width: 170px;
                background-position: 0 4px;
            }
        }

        .nav-item {
            text-align: center;

            &.active,
            &:hover {
                & .nav-link::before {
                    width: 100%;
                }
            }

            &:not(:last-of-type) {
                margin-right: 22px;
            }
            @include maxMdScreen {
                margin: 10px 0 !important;
            }
        }

        .nav-link {
            color: #fff !important;
            display: inline-block;
            padding: 0;
            position: relative;
            transition: all .5s;

            &::before {
                content: "";
                width: 0;
                height: 5px;
                background: #fff;
                position: absolute;
                left: 0;
                bottom: -4px;
                display: block;
                transition: all .5s;
            }
        }

        .navbar-collapse {
            @include maxMdScreen {
                background: #fff;
                padding: 15px 0;

                .nav-link {
                    color: #000 !important;

                    &::before {
                        background: $mainColor !important;
                    }
                }
            }

            @include maxLgScreen {
                margin-top: 10px;
            }
        }

    }

    .menu-icon {
        cursor: pointer;
        border: none;

        span {
            display: block;
            height: 3px;
            width: 30px;
            background: #fff;
            transition: all .5s;
            transform-origin: 90%;

            &:nth-of-type(2) {
                margin: 6px 0;
            }
        }

        &:not(.collapsed) {
            span {
                &:first-of-type {
                    transform: rotate(-45deg);
                }

                &:nth-of-type(2) {
                    opacity: 0;
                }

                &:last-of-type {
                    transform: rotate(45deg);
                }
            }
        }
    }
}