body {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

// main-section
.main-section {
    min-height: 100vh;
    color: #fff;
    padding: 125px 0 60px;

    .intro {
        .heading {
            font-size: 50px;
            font-weight: bold;

            @include maxMdScreen {
                font-size: 35px;
            }
        }

        p {
            margin: 20px 0;
            font-size: 18px;

            @include maxExScreen {
                font-size: 16px;
            }
        }
    }
}

// portfolio section
.portfolio {
    .portfolio-item {
        position: relative;

        .image-container {
            position: relative;
            padding-top: 84%;
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                min-height: 100%
            }
        }

        .intro {
            padding: 20px;

            .title {
                color: #fff;
                font-weight: 600;
                letter-spacing: 5px;
                margin-bottom: 25px;
                font-size: 40px;
            }

            .main-btn {
                i {
                    transition: padding .5s;
                }

                &:hover {
                    i {
                        padding: 0 10px;
                    }
                }
            }
        }

        .work-info {
            .content {
                height: 100%;
                padding: 20px;
                background: rgba(0, 0, 0, .7);
                transform: translateX(-100%);
                transition: all .3s;
                @include maxExScreen {
                    padding: 5px;
                }

                .info {
                    transition: all .5s;
                    transform: translateX(-100%);
                    transition-delay: .1s;

                    .title {
                        color: #0293fe;
                        margin-bottom: 20px;
                        font-size: 25px;
                        font-weight: bold;

                        @include maxExScreen {
                            font-size: 22px;
                        }
                    }

                    .tag {
                        color: #fff;
                        font-size: 15px;
                        border: 1px solid #fff;
                        display: inline-block;
                        padding: 5px 15px;
                        border-radius: 20px;

                        @include maxExScreen {
                            font-size: 12px;
                        }
                    }
                }

                .links {
                    transition: all .5s;
                    transform: translateY(800px);
                    transition-delay: .1s;

                    a {

                        color: #fff;
                        border: 1px solid rgba(#fff, 0.4);
                        margin: 0 5px;
                        border-radius: 4px;
                        font-size: 18px;
                        height: 38px;
                        line-height: 38px;
                        width: 38px;
                        text-align: center;

                        @include maxExScreen {
                            font-size: 14px;
                            width: 33px;
                            height: 33px;
                            line-height: 33px;
                        }
                    }
                }
            }


        }

        &:hover {
            .work-info {
                .content {
                    transform: translateX(0);

                    .info,
                    .links {
                        transform: translateX(0);
                    }
                }


            }
        }
    }
}

// testimonials section
.testimonials {

    padding: 50px 0;

    &-slider {
        .slick-dots {
            padding: 0;
            margin: 0;

            li {
                transition: all .5s;

                button {
                    display: none;
                }

                border: 1px solid $mainColor;
                padding: 5px;
                cursor: pointer;
                margin: 5px;
                border-radius: 50%;
                display: inline-block;
            }

            li.slick-active {
                background: $mainColor;
                transform: scale(1.3);
            }
        }

        .slick-arrow {
            position: absolute;
            top: 50%;
            color: $mainColor;
            transition: all .3s;
            opacity: .5;
            cursor: pointer;
            transform: translateY(-50%);
            font-size: 30px;
            left: 10px;
            z-index: 5;

            &:hover {
                opacity: 1;
            }

            &.next-arrow {
                right: 10px;
                left: auto;
            }
        }

        .slider-item {
            min-height: 400px;
            cursor: move;

            .person-name {
                color: $mainColor;
                font-weight: bold;
                font-size: 24px;
            }

            img {
                width: 100px;
                height: 100px;
                margin: auto;
                border-radius: 50%;
                background: #fff;
                padding: 5px;
                border: 1px solid $mainColor;
            }

            .text {
                font-size: 18px;
                margin-top: 40px;
            }
        }
    }
}

// contact-us section
.contact-us {
    padding: 60px 0;

    .heading {
        &-text {
            color: #fff;

            &::after {
                border-color: #fff transparent transparent transparent;
            }
        }
    }

    form {
        .main-btn {
            margin-top: 50px;
        }
    }
}

// map section
.map {
    iframe {
        width: 100%;
        height: 400px;
        border: 0;
        display: block;
    }
}

// article section
.article {
    padding: 70px 0 40px;

    &:nth-of-type(odd) {
        background: $grayBg;
    }

    &:nth-of-type(even) {
        @media (min-width: 768px) {
            .article-cover {
                order: 2;
            }

            .article-content {
                order: 1;
            }
        }
    }

    .article-cover {
        position: relative;

        &:after,
        &::before {
            content: "";
            width: 35%;
            height: 35%;
            display: block;
            z-index: 1;
            position: absolute;
        }

        &::after {
            top: -9px;
            left: 5px;
            border-top: 20px solid rgba(24, 155, 242, 0.4);
            border-left: 20px solid rgba(24, 155, 242, 0.4);
        }

        &::before {
            bottom: -9px;
            right: 5px;
            border-bottom: 20px solid rgba(24, 155, 242, 0.4);
            border-right: 20px solid rgba(24, 155, 242, 0.4);
        }
    }

    .article-image {
        position: relative;
        padding-top: 79.5%;
        overflow: hidden;

        img,
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            min-height: 100%
        }

        &::after {
            content: "";
            background: rgba($mainColor, .1);
        }
    }

    .article-content {
        .article-title {
            font-size: 30px;
            margin-bottom: 15px;
            font-weight: bold;
        }

        .article-text {
            font-size: 18px;
        }
    }
}

// work-info-modal
.work-info-modal {
    .modal-header {
        border: none;
        padding: 0;

        .close-icon {
            position: absolute;
            top: 5px;
            right: 5px;
            z-index: 1;
            background: rgba(#000, 0.2);
            color: #fff;
            border: none;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            text-align: center;
            line-height: 40px;
            font-size: 16px;
            cursor: pointer;
            transition: all .3s;

            &:hover {
                background: $mainColor;
            }
        }
    }

    .modal-body {
        padding: 0;
        .article {

            .article-cover {

                &:after,
                &::before {
                    display: none;
                }
            }

        }
    }
}