// main section
.main-section {
    .intro {
        .main-btn {
            box-shadow: 0px 10px 30px hsla(210, 100%, 40%, 0.6);

            i {
                font-size: 13px;
                transition: padding .5s;
            }

            &:hover {
                i {
                    padding-left: 5px;
                }
            }
        }
    }

    .scroll-btn {
        background: rgba(#000, .1);
        border: none;
        outline: none;
        width: 55px;
        height: 55px;
        color: rgba(#fff, 0.5);
        font-size: 25px;
        border-radius: 50%;
        transition: all .5s;

        &:hover {
            background: #fff;
            color: $mainColor;
        }
    }
}

// services section
.services {
    padding: 60px 0 30px;
    background: $grayBg;

    .service {
        box-shadow: 0px 3px 6px rgba(#000, 0.15);
        border: none;
        transition: all .3s;

        &:hover {
            box-shadow: 0px 3px 25px rgba(#000, 0.15);
        }

        .card-header {
            height: 130px;
        }

        .card-body {
            text-align: center;

            .card-image {
                width: 135px;
                margin-top: -100px;
                height: 135px;
                border-radius: 50%;
            }

            .card-title {
                margin-top: 15px;
                font-size: 22px;
                font-weight: bold;
                margin-bottom: 0;
            }

            .card-text {
                margin: 20px 0px;
                font-size: 17px;
                height: 170px;
                overflow: hidden;
            }

            .main-btn {
                width: 100%;
                padding: 10px 20px;
                background: $mainColor;
                background: linear-gradient(90deg, $mainColor 30%, $lightColor 100%);
                background-size: 200%;
                background-position: 100%;

                &:hover {
                    background-position: -100% !important;
                    color: #fff;
                }
            }
        }
    }
}