// services section
.our-services {
    padding: 60px 0 30px;

    .service {
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-bottom: 15px;
            object-fit: cover;
            transition: all .3s;
            
        }

        .service-title {
            font-size: 23px;
        }
        &:hover {
            img {
                transform: translateY(-10px);
            }
        }
    }
}