.main-section.contact {
  background-color: #F8F8F8;
}

.contact-info {
  padding: 60px 0 30px;
  background: #F8F8F8;
}

.contact-info .box {
  background: #fff;
  padding: 30px 10px;
  font-size: 20px;
  margin-top: 30px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.contact-info .box .icon {
  background: #189BF2;
  color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 35px;
  margin: auto;
  margin-top: -80px;
  border: 12px solid #F8F8F8;
}

.contact-info .box .icon i {
  margin: auto;
}

.contact-info .box .phones-links li a,
.contact-info .box .email-links li a {
  color: rgba(0, 0, 0, 0.5);
  padding: 12px 10px;
  display: block;
  font-weight: 500;
}

.contact-info .box .phones-links li:not(:last-of-type) a,
.contact-info .box .email-links li:not(:last-of-type) a {
  border-bottom: 2px solid #F8F8F8;
}
/*# sourceMappingURL=contact-us.css.map */