.main-section .intro .main-btn {
  -webkit-box-shadow: 0px 10px 30px rgba(0, 102, 204, 0.6);
          box-shadow: 0px 10px 30px rgba(0, 102, 204, 0.6);
}

.main-section .intro .main-btn i {
  font-size: 13px;
  -webkit-transition: padding .5s;
  transition: padding .5s;
}

.main-section .intro .main-btn:hover i {
  padding-left: 5px;
}

.main-section .scroll-btn {
  background: rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
  width: 55px;
  height: 55px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 25px;
  border-radius: 50%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.main-section .scroll-btn:hover {
  background: #fff;
  color: #189BF2;
}

.services {
  padding: 60px 0 30px;
  background: #F8F8F8;
}

.services .service {
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  border: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.services .service:hover {
  -webkit-box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.15);
}

.services .service .card-header {
  height: 130px;
}

.services .service .card-body {
  text-align: center;
}

.services .service .card-body .card-image {
  width: 135px;
  margin-top: -100px;
  height: 135px;
  border-radius: 50%;
}

.services .service .card-body .card-title {
  margin-top: 15px;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0;
}

.services .service .card-body .card-text {
  margin: 20px 0px;
  font-size: 17px;
  height: 170px;
  overflow: hidden;
}

.services .service .card-body .main-btn {
  width: 100%;
  padding: 10px 20px;
  background: #189BF2;
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #189BF2), to(#00C1FF));
  background: linear-gradient(90deg, #189BF2 30%, #00C1FF 100%);
  background-size: 200%;
  background-position: 100%;
}

.services .service .card-body .main-btn:hover {
  background-position: -100% !important;
  color: #fff;
}
/*# sourceMappingURL=homepage.css.map */