.our-services {
  padding: 60px 0 30px;
}

.our-services .service img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.our-services .service .service-title {
  font-size: 23px;
}

.our-services .service:hover img {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
/*# sourceMappingURL=our-services.css.map */