.main-btn {
    background: $mainColor;
    color: #fff;
    padding: 8px 20px;
    transition: all .5s;
    font-weight: 500;
    border-radius: 20px;
    &:hover {
        color: $mainColor;
        background: #fff;
        border-color: $mainColor;
    }
    &.white-btn {
        color: $mainColor;
        background: #fff;
        &:hover {
            background: $mainColor !important;
            color: #fff;
            border-color: #fff;
        }
    }
}