.input, .textarea {
    height: 40px;
    border: none;
    border-bottom: 2px solid rgba(#fff, .5);
    color: #fff;
    transition: all .3s;
    background: transparent;

    &:focus {
        box-shadow: none !important;
        border-color: #fff;
        background: transparent;
        color: #fff;
    }
}
.textarea {
    min-height: 115px;
}

.input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder {
    color: rgba(#fff, .7) !important;
  }
  
  .input:-ms-input-placeholder, .textarea:-ms-input-placeholder {
    color: rgba(#fff, .8) !important;
  }
  
  .input::placeholder, .textarea::placeholder {
    color: rgba(#fff, .8) !important;
  }